
body {
    margin: 36px auto;
    width: 90%;
}
#page {
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto 53px;
    width: 93.75%;
}
#main {
    float: left;
    width: 62.8889%;
}
#other {
    float: right;
    width: 36.7778%;
}
header h1 {
    padding: 0.8em 5.33333%;
}
nav ol {
    padding-left: 5.33333%;
}
nav ol li {
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
}
article h1, article p, article table {
    padding: 0.2em 8.48057%;
}
aside {
    margin: 0 auto;
    width: 69.7885%;
}
aside h2, aside p {
    padding: 0.2em 8.48057%;
}
footer {
    clear: both;
    padding: 0.8em 5.33333%;
}
#form article#main {
    float: none;
    margin: auto;
    text-align: left;
    width: 600px;
}
fieldset {
    border: 1px solid #00498e;
    clear: both;
}
fieldset.contact {
    float: left;
}
fieldset.contact label {
    display: block;
    text-align: right;
}
fieldset.contact input {
    width: 15em;
}
fieldset.buttons {
    border: medium none;
}
fieldset.wrapper {
    border: 0 none;
    margin: auto;
}
fieldset.wrapper legend {
    color: #00498e;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}
fieldset.wrapper > legend {
    font-size: 2em;
}
label {
    color: #005cb3;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
.mistake {
    background-color: #800;
    border: thin solid #000;
    color: #fff;
}
#errors ol li {
    color: #ff5555;
}
table {
    width: 100%;
}
td {
    background-color: turquoise;
    display: block;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
td:last-child {
    background: turquoise url("http://4.bp.blogspot.com/-rshRPIn2sQU/UdRiK7jG5HI/AAAAAAAAHDA/ycbcyNoEYb8/s269/heart.png") no-repeat scroll 1% center / 1em auto;
    font-size: 12pt;
    padding-left: 3%;
    text-align: left;
}
#two ol {
    float: left;
}
td:first-child {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
}
nav ol li {
    margin-right: auto;
    margin-left: auto;
}
#two li {
    display: block;
}
